<footer class="l-footer p-footer">
	<div class="p-footer__inner l-inner">
		<ul class="p-footer__items">
			<li class="p-footer__item">
				
			</li>
		</ul>
		<p class="p-footer__copyright">
			コピーライト
		</p>
	</div>
</footer>