@use "global" as *;
@use "sass:math";

.p-footer {
	padding: rem(36) 0 rem(36);
	@include mq() {
		padding: rem(65) 0 rem(40);
	}
}

// .p-footer__inner.l-inner {
// }

.p-footer__items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: rem(11);
	font-size: rem(14);
	font-weight: 500;
	letter-spacing: 0.04em;
	@include mq() {
		flex-direction: row;
		gap: rem(40);
	}
}

.p-footer__item {
}

.p-footer__copyright {
	margin-top: rem(30);
	font-size: rem(11);
	font-weight: 500;
	letter-spacing: 0;
	text-align: center;
	@include mq() {
		margin-top: rem(18);
	}
}
